body{
    background-color: lightgray;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    border-radius: 5px;
    padding:10px;
    margin: 14px;
}

h1:hover{
    transform: scale(1.2);
}