body{
    border: 0px;
    background-color: lightgray;
    transition: all 0.5s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centrado{
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.container{
    border-radius: 5px;
    width:20%;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    padding:20px;
}

input{
    background-color: transparent;
    border: 0px;
    border-bottom: solid 1px gray;
    padding:5px;
    display: block;
    text-align: left !important;
    margin-bottom: 10px;
}

button{
    border: 0px;
    padding:5px;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
}